<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/_head'); %>
</head>
<body class="container">
	<h1>Hello, World</h1>
	<p>My name is Fabian and this is my very first webpage :D</p>
</body>
</hrml>
